@import url("http://fonts.googleapis.com/css?family=Cinzel+Decorative:700")
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700")
h1, h2, h3, h4, h5, h6
  font-family: "Cinzel Decorative", serif

h1:first-letter
  color: $accentColor
  border: 1px solid $accentColor
  margin-right: -20px
  font-size: 1.9em
  padding: 0 20px

body
  font-family: "Gentium Book Basic", serif;

@tailwind preflight;
@tailwind components;
@tailwind utilities;